<h1>Current Sanctions For <%=@resident.name%></h1>
<br></br>
<% if @resident.sanctions.empty?%>
<h2>No Current Sanctions</h2>
<%else%>
<%@resident.sanctions.each do |sanction|%>
<p><h2><%=sanction.name%></h2></p>
<%end%>
<%end%>

<a href="/managers/<%=@resident.manager.id%>">Return to Residents</a>
