<h1>Create A New Manager Profile</h1>

<form class="" action="/signup" method="post">
  <h2><label>Manager Name: </label></h2>
  <input type="text" name="manager[name]" value="">
  <br></br>
  <h2><label>Email Address: </label></h2>
  <input type="text" name="manager[email]" value="">
  <br></br>
  <h2><label>Password: </label></h2>
  <input type="password" name="manager[password]" value="">
  <br></br>
  <input type="submit" name="" value="Create Account">

</form>
