<h1>Welcome <%=@manager.name.capitalize%>!</h1>

<br></br>

<h2>Here Are Your Current Residents</h2>


<%@manager.residents.all.each do |resident|%>
<h3><a href="/residents/<%=resident.id%>"><%=resident.name%></a></h3>
<%end%>


<br></br>
<a href="/residents/new">Add A New Resident</a>
<br></br>
<br></br>
<a href="/signout">Sign Out</a>
