<h1>Add A New Resident</h1>


<form class="" action="/residents/new" method="post">
  <h2><label>Resident Name: </label></h2>
  <input type="text" name="resident[name]" value="">
  <br></br>
  <h2><label>Resident Age: </label></h2>
  <input type="text" name="resident[age]" value="">
  <br></br>
  <h2><label>Resident Room Number: </label></h2>
  <input type="text" name="resident[room_number]" value="">
  <br></br>

  <input type="submit" name="" value="Add Resident">

</form>

<br></br>

<a href="/managers/<%=session[:user_id]%>">Return To View Residents</a>
