<h1>Discharge Residents</h1>

<form class="" action="/residents/discharge" method="post">
  <%@manager.residents.each do |resident|%>
<p>  <input type="checkbox" name="" value="" <%='checked' if @manager.residents.include?(resident)%>>
  <%=resident.name%></p>
  <%end%>

  <input type="submit" name="" value="Discharge Client(s)">
  
</form>