<form class="" action="/residents/<%=@resident.id%>" method="post">
  <input type="hidden" name="_method" value="PUT">
  <input type="text" name="resident[name]" value="<%=@resident.name%>">
    <input type="text" name="resident[age]" value="<%=@resident.age%>">
    <input type="text" name="resident[room_number]" value="<%=@resident.room_number%>">
    <input type="submit" name="" value="Update Resident Information">

</form>
