<h1><%=@resident.name%></h1>

<p><h2>Age: <%=@resident.age%></h2></p>

<p><h2>Room Number: <%=@resident.room_number%></h2></p>

<br></br>

<h1>Residents Current Sanctions</h1>
<form class="" action="/sanctions/new" method="post">
  <input type="checkbox" name="id" value="<%=@resident.id%>">
  <input type="submit" name="" value="Add Sanction">

</form>
<a href="/sanctions/new">Add Sanction</a>

<br></br>
